
ion-content{
    --background:#eaeaea;
  }

  .cardSection{
    background:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;

    img{
        width: 75%;
        margin-top: 16px;
    }

    ion-card-content{
        padding: 16px 5px;
    }
  }
  .contentText{
    font-size: 12px;
    font-weight: bold;
    color: #4e4343;
  }