<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gestures"></ion-back-button>
    </ion-buttons>
    <ion-title>Slide Drawer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<app-slide-drawer>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>
</app-slide-drawer>