<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Right to Left Slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slider pager [options]="slideOpts" (ionSlideDidChange)="onSlideChanged()" dir="rtl">
    <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')'}">
      <h2>{{slide.title}}</h2>
    </ion-slide>
  </ion-slides>
</ion-content>