<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Crypto List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <div class="welcome-header">
    <div class="content">
      <div class="title">Crypto Currencies</div>
      <div class="subtitle">Find The latest info about Crypto currencies</div>
    </div>

    <ion-fab-button class="refresh" color="dark">
      <ion-icon name="md-refresh"></ion-icon>
    </ion-fab-button>

  </div>
  <div class="body ion-padding">
    <div class="currencies">
      <ion-row class="currency" *ngFor="let d of data">
        <ion-col class="image">
          <img src="{{'assets/yannbf/img/currencies/'+d.symbol+'.png'}}" alt="">
        </ion-col>
        <ion-col size="4" class="text">
          <p class="rank">Rank {{d.rank}}</p>
          <p class="name">{{d.name}}</p>
        </ion-col>
        <ion-col size="4" class="text">
          <p class="usd">{{ precision(d.price_usd,1) }} $</p>
          <p class="evolution" [innerHtml]="evolution(d.percent_change_1h)"></p>
        </ion-col>
        <ion-col size="1">
          <span class="indicator">
            <ion-icon icon="md-arrow-dropright"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>