<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/fivethree"></ion-back-button>
    </ion-buttons>
    <ion-title>Icon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Icon turned off</ion-label>
    <ion-checkbox [(ngModel)]="off" slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Icon dot</ion-label>
    <ion-checkbox [(ngModel)]="dot" slot="end"></ion-checkbox>
  </ion-item>
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="increment()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="decrement()">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="outline" shape="round" (click)="getNewIcon()">
        change random icon
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="example">
    <ion-buttons [fivCenter]>
      <ion-button>
        <fiv-icon [off]="off" [dot]="dot" slot="icon-only" [badge]="badge" [name]="icon">
        </fiv-icon>
      </ion-button>
    </ion-buttons>

  </div>
</ion-content>
