<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" fill="clear">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile Two</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="container">
  <div class="header">
    <h1>Vagner Sabadi</h1>
    <h2>Mobile Developer</h2>
    <img src="https://avatars1.githubusercontent.com/u/12532889?s=460&v=4" class="profile" />
  </div>
  <div class="content">
    <h3>about me</h3>
    <p>Hey - I am Vagner, a 26 years old mobile developer dev from brazil. Feel free to follow me. </p>
    <div class="social">
      <ul>
        <li>
          <a href="#" class="zocial-facebook"></a>
        </li>
        <li>
          <a href="#" class="zocial-twitter"></a>
        </li>
        <li>
          <a href="#" class="zocial-instagram"> </a>
        </li>
      </ul>
    </div>
  </div>
</ion-content>