<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic official
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><a
          href="https://ionicframework.com/docs/components">https://ionicframework.com/docs/components</a>
      </ion-card-subtitle>
      <ion-card-title> Ionic official Components </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="ion-text-wrap">
        Ionic apps are made of high-level building blocks called Components, which allow you to quickly construct the UI
        for your app. Ionic comes stock with a number of components, including cards, lists, and tabs. Once you’re
        familiar with the basics, refer to the API Index for a complete list of each component and sub-component.
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let item of pages" [routerLink]="[item.router]" detail>
      <ion-label>
        {{ item.namePage }}
      </ion-label>
    </ion-item>

  </ion-list>


  <ion-item>
    <ion-label class="ion-text-wrap">
      <h3>
        More official examples?
      </h3>
      <p>
        1 - Access <a href="https://github.com/ionic-team/ionic">official repository</a>, clone the project.
      </p>
      <p>
        2 - Run <strong> npm start </strong> from within the <strong>core</strong> directory.
      </p>
      <p>
        3 - A browser should open at <strong>http://localhost:3333/.</strong>
      </p>
      <p>
        4 - From here, navigate to one of the component's tests to preview your changes.
      </p>
    </ion-label>

  </ion-item>

</ion-content>