.textsliderfont {
  font-size: 14px;
}
ion-slides {
  height: 100%;

  .liveTrackingImg {
    width: 96%;
    padding: 20%;
  }

  .btnSubmit {
    --border-radius: 7px;
  }

  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    img {
      max-width: 150px;
    }
    &.slide-1 {
      background: dodgerblue;
      color: white;
    }
    &.slide-2 {
      background: #f28131;
      color: white;
    }
    &.slide-3 {
      background: #9f5afd;
      color: white;
    }
    &.slide-4 {
      background: #2ecc71;
      color: white;
    }
  }

  .skip-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
