<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Custom Pagination</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h3>Pagination numbers</h3>
  <ion-slides #sliderOne pager>
    <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')'}">
      <h2>{{slide.title}}</h2>
    </ion-slide>
  </ion-slides>


  <h3>Pagination numbers 2</h3>
  <ion-slides #sliderTwo pager>
    <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')'}">
      <h2>{{slide.title}}</h2>
    </ion-slide>
  </ion-slides>


  <h3>Pagination icons</h3>
  <ion-slides #sliderThree pager>
    <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')'}">
      <h2>{{slide.title}}</h2>
    </ion-slide>
  </ion-slides>
</ion-content>