.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}
.fixed {
    position: fixed;
}

.textBold {
    font-weight: bold;
}
.dFlex {
    display: flex;
}

.borderBottom {
    border-bottom: 1px solid #e8e4e4;
}
.textColor {
    color: #000;
}

agm-map {
    height: calc(100vh - 64px);
}

agm-map {
    .gm-svpc {
        display: none;
    }
}
.gmnoprint {
    display: none !important;
}
.nightModeIcon {
    border: 3px dotted #000;
    padding: 3px;
}
.driverlocationIcon {
    bottom: 190px;

    .locationIcon {
        font-size: 26px;
    }
    ion-fab-button {
        --background: #fff;
        --color: #000;
        height: 40px;
        width: 40px;
    }
}

.driverCard {
    position: absolute;
    width: 100%;
    bottom: -7px;
    background: #fff;
    border-radius: 11px;
    padding-bottom: 5%;
}
.cardContent {
    background: #ffd524;
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    padding: 3%;

    .driverDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .driverStatusIcons {
        font-size: 26px;
        color: #c3a527;
    }
    .detailText {
        color: #c3a527;
        font-size: 10px;
    }
    .detailsLabel {
        font-size: 18px;
    }
}

.userlocationIcon {
    bottom: 300px;

    ion-fab-button {
        --background: #fff;
        --color: #000;
        height: 40px;
        width: 40px;
    }
}

.userCard {
    position: absolute;
    width: 94%;
    bottom: 0;
    background: #fff;
    border-radius: 11px;
    padding-bottom: 5%;
    margin: 10px;
    animation: mymove 2s;

    .userCardHeader {
        box-shadow: 2px 2px 2px #e8e4e4;
    }

    .userDetails {
        background: #ffd524;
        border-radius: 90px;
        display: flex;
        height: 21px;
        padding-left: 12px;
        padding-right: 14px;
        padding-top: 3px;
        padding-bottom: 0;
    }
    .userIcon {
        // width: 40px;
        // height: 40px;
        margin: 2%;
        margin-left: 9%;
        border: 1px solid #b9b1b1;
    }
    .userCardFooter {
        float: right;
    }

    .paddingVertical {
        padding: 10px 0px;
    }
}

.sc-ion-modal-md-h {
    margin-top: 13%;
}

.card-Chip {
    font-size: 11px;
    --border-radius: 18px;
    height: 1.8em;
}
.requestAll {
    display: flex;
    width: 100%;
    justify-content: center;
}

.userCard-conetnt {
    padding-bottom: 0;
    padding-top: 10px;
}

@-webkit-keyframes mymove {
    from {
        bottom: -200px;
    }
    to {
        bottom: 20px;
    }
}

@keyframes mymove {
    from {
        bottom: -200px;
    }
    to {
        bottom: 20px;
    }
}
