<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Yannbf
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><a
          href="https://github.com/yannbf/ionic3-components">https://github.com/yannbf/ionic3-components</a>
      </ion-card-subtitle>
      <ion-card-title> Yannbf Components </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="ion-text-wrap">
        descritpin
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-list>
      <ion-item [routerLink]="['/accordion-list']" detail>
        <ion-label>
          Accordion List
        </ion-label>
      </ion-item>

    <ion-item [routerLink]="['/lists']" detail>
      <ion-label>
        Lists
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/login']" detail>
      <ion-label>
        Login
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>