.txt {
  font-size: 12px;
  margin-top: 0;
}
ion-card {
  // width: 160px;
  margin: 0;
  margin-bottom: 10px;
  box-shadow: 0px 0px 0px 0px white;

  ion-img {
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }
  ion-card-header {
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
  }
}
ion-card-header:before {
  content: "";
  background: #2d2d2d85;
  position: absolute;
  width: 100%;
  height: 100%;
}
.card-title {
  position: absolute;
  margin-bottom: 30px;
  //top: 0;
  bottom: 5px;
  color: white;
  padding: 0 8px;
  margin: 0;
}
