<ion-app>
  <ion-split-pane contentId="main-content">
    
    <ion-menu side="start" contentId="main-content" menuId="menu-avatar" id="menu-avatar">
      <ion-content>
        <div #header>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col class="col-icon" class="ion-align-items-start">
                <img src="assets/yannbf/icon/icon-email.svg" />
                <ion-badge class="icon-badge" color="danger">11</ion-badge>
              </ion-col>
              <ion-col class="ion-align-items-center">
                <ion-avatar>
                  <img class="user-avatar" src='assets/yannbf/img/avatar/girl-avatar.png' />
                </ion-avatar>
              </ion-col>
              <ion-col class="col-icon" style="text-align: center;">
                <img src="assets/yannbf/icon/icon-calendar.svg" />
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-row style="justify-content: center;">
            <h3>Paula Bolliger</h3>
          </ion-row>
        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Dark Theme</ion-label>
            <ion-toggle (ionChange)="darkTheme($event)"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-menu side="start" contentId="main-content" menuId="menu-material" id="menu-material">
      <ion-content>
        <div class="menu-header">
          <ion-avatar>
            <img class="user-avatar round" [src]="'assets/yannbf/img/avatar/girl-avatar.png'" />
          </ion-avatar>
          <p class="name">Paula Bolliger</p>
          <p class="e-mail">pbolliger@email.com</p>
        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Dark Theme</ion-label>
            <ion-toggle (ionChange)="darkTheme($event)"></ion-toggle>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-menu side="start" contentId="main-content"  menuId="menu-principal" id="menu-principal">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Dark Theme</ion-label>
            <ion-toggle (ionChange)="darkTheme($event)"></ion-toggle>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-menu side="end" contentId="main-content" menuId="menu-right" id="menu-right">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu Right</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Dark Theme</ion-label>
            <ion-toggle (ionChange)="darkTheme($event)"></ion-toggle>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>