<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Refresh</ion-title>
  </ion-toolbar>
</ion-header>

<fiv-loading-content #content [spinColor]="'primary'" [hintText]="'Update'">
  <div class="btns-content">


    <ion-button (click)="content.showHint()">
      Show hint
    </ion-button>
    <ion-button (click)="content.refresh()">
      Refresh
    </ion-button>
    <ion-button (click)="content.completeRefresh()">
      complete
    </ion-button>

  </div>

</fiv-loading-content>