<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Slide With Arrows</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides #slider [options]="slideOpts" (ionSlideWillChange)="onSlideChanged()">
    <ion-slide *ngFor="let slide of slides" class="swiper-no-swiping"
      [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')'}">
      <h2>{{slide.title}}</h2>
    </ion-slide>
    <!-- Add Pagination -->
    <div *ngIf="currentIndex > 0" class="swiper-button-prev swiper-button-white" (click)="previousSlide()"></div>
    <div *ngIf="currentIndex < slides.length-1" class="swiper-button-next swiper-button-white" (click)="nextSlide()">
    </div>
  </ion-slides>
</ion-content>