<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="thisFolder.name === 'Documents'">
      <ion-button slot="icon-only" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-buttons>

    <ion-title>{{thisFolder.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let folder of folders" (click)="goToFolder(folder)">
      <ion-icon name="folder" slot="start"></ion-icon>
      <ion-label>
        <h2>{{folder.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar color="pipe">
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="moveHere(thisFolder)">
        Move Here
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>