<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email.
      </ion-text>
    </ion-item>

    <fiv-password-input placeholder="Password" formControlName="password"></fiv-password-input>

    <ion-item *ngIf="password.invalid && password.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid password with atleast 4 characters.
      </ion-text>
    </ion-item>
    <div class="ion-text-center">
      <ion-button block shape="round" color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </ion-button>
    </div>
  </form>

</ion-content>