<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Slide Nested</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <ion-slides #slider pager [options]="slideOpts">
        <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')'}">
          <h2>{{slide.title}}</h2>
        </ion-slide>
      </ion-slides>
    </ion-slide>
  </ion-slides>
</ion-content>