<ion-header>
  <ion-toolbar>
    <ion-title>Any</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-card>
      <ion-card-header>
        Search
      </ion-card-header>
      <fiv-searchbar [smallWidth]="120" #search title="Searchbar" placeholder="Search ...."
        (fivInputChange)="onSearchInputChanged($event)" (fivClose)="closeSearch();" [small]="small">
        <ion-back-button start defaultHref="home"></ion-back-button>
      </fiv-searchbar>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Dialog
      </ion-card-header>
      <ion-item>
        <ion-label>Backdrop</ion-label>
        <ion-toggle slot="end" [(ngModel)]="backdrop"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Pull Enabled</ion-label>
        <ion-toggle slot="end" [(ngModel)]="pull"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Vertical Alignment</ion-label>
        <ion-select slot="end" [(ngModel)]="verticalAlign">
          <ion-select-option value="top">top</ion-select-option>
          <ion-select-option value="center">center</ion-select-option>
          <ion-select-option value="bottom">bottom</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Horizontal Alignment</ion-label>
        <ion-select slot="end" [(ngModel)]="horizontalAlign">
          <ion-select-option value="left">left</ion-select-option>
          <ion-select-option value="middle">middle</ion-select-option>
          <ion-select-option value="right">right</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Shape</ion-label>
        <ion-select slot="end" [(ngModel)]="shape">
          <ion-select-option value="card">card</ion-select-option>
          <ion-select-option value="fill">fill</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Duration</ion-label>
        <ion-input [(ngModel)]="duration" type="number"></ion-input>
      </ion-item>

      <div class="ion-text-center">
        <ion-button (click)="dialog.open()">
          Show Dialog
        </ion-button>
      </div>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Floating Action Button
      </ion-card-header>
      <ion-item>
        <ion-label>Vertical</ion-label>
        <ion-select [(ngModel)]="vertical" placeholder="Vertical Align">
          <ion-select-option value="top">top</ion-select-option>
          <ion-select-option value="middle">middle</ion-select-option>
          <ion-select-option value="bottom">bottom</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Horizontal</ion-label>
        <ion-select [(ngModel)]="horizontal" placeholder="Horizontal Align">
          <ion-select-option value="start">start</ion-select-option>
          <ion-select-option value="center">center</ion-select-option>
          <ion-select-option value="end">end</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Mode</ion-label>
        <ion-select [(ngModel)]="mode" placeholder="Mode">
          <ion-select-option value="edge">edge</ion-select-option>
          <ion-select-option value="normal">normal</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Scroll</ion-label>
        <ion-toggle slot="end" [checked]="scroll" [(ngModel)]="scroll"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Pulse</ion-label>
        <ion-toggle slot="end" [checked]="pulse" [(ngModel)]="pulse"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Extended</ion-label>
        <ion-toggle slot="end" [checked]="extended" [(ngModel)]="extended"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Visible</ion-label>
        <ion-toggle slot="end" [checked]="visible" [(ngModel)]="visible"></ion-toggle>
      </ion-item>
    </ion-card>

    <ion-card class="icons-card">
      <ion-card-header>
        Icons
      </ion-card-header>

      <ion-button (click)="increment()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="decrement()">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>

      <ion-item>
        <ion-label>Icon turned off</ion-label>
        <ion-checkbox [(ngModel)]="off" slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Icon dot</ion-label>
        <ion-checkbox [(ngModel)]="dot" slot="end"></ion-checkbox>
      </ion-item>

      <div class="example">
        <ion-button [fivCenter] fill="clear">
          <fiv-icon [off]="off" [dotVisible]="dot" slot="icon-only" [indicatorValue]="indicatorValue" [name]="icon">
          </fiv-icon>
        </ion-button>
      </div>

    </ion-card>

    <ion-card class="loading-card">
      <ion-card-header>
        Feature Discovery
      </ion-card-header>

      <ion-button [disabled]="bar.loading" (click)="bar.fillIn(2000)">
        fill
      </ion-button>

      <ion-button [disabled]="bar.loading" (click)="bar.shrinkIn(2000)">
        shrink
      </ion-button>
      <ion-button [disabled]="bar.loading" (click)="bar.load()">
        load
      </ion-button>
      <ion-button [disabled]="!bar.loading" (click)="bar.unload()">
        unload
      </ion-button>
      <ion-button [disabled]="!bar.loading" (click)="bar.complete()">
        complete
      </ion-button>
      <div class="wrapper">
        <div [fivCenter] class="progress-bar">
          <fiv-loading-progress-bar #bar></fiv-loading-progress-bar>
        </div>
      </div>

      <div class="wrapper">
        <div [fivCenter]>
          <fiv-loading-spinner></fiv-loading-spinner>
        </div>
      </div>
    </ion-card>


  </ion-list>

  <fiv-fab [mode]="mode" [visible]="visible" [scroll]="scroll" (fivComplete)="icon = 'checkmark'" [pulse]="pulse"
    slot="fixed" checkmark="true" #fab
    (click)="fab.loading ? fab.complete() : icon === 'checkmark' ? icon = 'fitness' : fab.load()"
    [horizontal]="horizontal" [vertical]="vertical" spinColor="primary" [color]="'light'">
    <fiv-icon color="primary" slot="icon-only" [name]="icon"></fiv-icon>
    <ion-label *ngIf="extended" color="primary">Begin Training</ion-label>
  </fiv-fab>

</ion-content>

<fiv-dialog (fivClose)="close()" [pullEnabled]="pull" (fivDurationOver)="dialog.close()" [inDuration]="inDuration"
  [outDuration]="outDuration" #dialog [duration]="duration" [shape]="shape" [horizontalAlign]="horizontalAlign"
  [verticalAlign]="verticalAlign" [backdrop]="backdrop">

  <ion-card-header>
    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
    <ion-card-title>Awesome Title</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>The content for this dialog</p>
  </ion-card-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dialog.close()">
        Cancel
      </ion-button>
      <ion-button color="primary">
        Do Action
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</fiv-dialog>