<ion-header>
  <ion-toolbar>
    <ion-title>Any</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>


    <ion-card class="icons-card">
      <ion-card-header>
        Icons
      </ion-card-header>

      <ion-button (click)="increment()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="decrement()">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>

      <ion-item>
        <ion-label>Icon turned off</ion-label>
        <ion-checkbox [(ngModel)]="off" slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Icon dot</ion-label>
        <ion-checkbox [(ngModel)]="dot" slot="end"></ion-checkbox>
      </ion-item>

      <div class="example">
        <ion-button [fivCenter] fill="clear">
          <fiv-icon [off]="off" [dotVisible]="dot" slot="icon-only" [indicatorValue]="indicatorValue" [name]="icon">
          </fiv-icon>
        </ion-button>
      </div>

    </ion-card>

    <ion-card class="loading-card">
      <ion-card-header>
        Feature Discovery
      </ion-card-header>

      <ion-button [disabled]="bar.loading" (click)="bar.fillIn(2000)">
        fill
      </ion-button>

      <ion-button [disabled]="bar.loading" (click)="bar.shrinkIn(2000)">
        shrink
      </ion-button>
      <ion-button [disabled]="bar.loading" (click)="bar.load()">
        load
      </ion-button>
      <ion-button [disabled]="!bar.loading" (click)="bar.unload()">
        unload
      </ion-button>
      <ion-button [disabled]="!bar.loading" (click)="bar.complete()">
        complete
      </ion-button>
      <div class="wrapper">
        <div [fivCenter] class="progress-bar">
          <fiv-loading-progress-bar #bar></fiv-loading-progress-bar>
        </div>
      </div>

      <div class="wrapper">
        <div [fivCenter]>
          <fiv-loading-spinner></fiv-loading-spinner>
        </div>
      </div>
    </ion-card>


  </ion-list>

  <fiv-fab [mode]="mode" [visible]="visible" [scroll]="scroll" (fivComplete)="icon = 'checkmark'" [pulse]="pulse"
    slot="fixed" checkmark="true" #fab
    (click)="fab.loading ? fab.complete() : icon === 'checkmark' ? icon = 'fitness' : fab.load()"
    [horizontal]="horizontal" [vertical]="vertical" spinColor="primary" [color]="'light'">
    <fiv-icon color="primary" slot="icon-only" [name]="icon"></fiv-icon>
    <ion-label *ngIf="extended" color="primary">Begin Training</ion-label>
  </fiv-fab>

</ion-content>

<fiv-dialog (fivClose)="close()" [pullEnabled]="pull" (fivDurationOver)="dialog.close()" [inDuration]="inDuration"
  [outDuration]="outDuration" #dialog [duration]="duration" [shape]="shape" [horizontalAlign]="horizontalAlign"
  [verticalAlign]="verticalAlign" [backdrop]="backdrop">

  <ion-card-header>
    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
    <ion-card-title>Awesome Title</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>The content for this dialog</p>
  </ion-card-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dialog.close()">
        Cancel
      </ion-button>
      <ion-button color="primary">
        Do Action
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</fiv-dialog>