<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login Instagram</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  class="ion-padding ">
  <ion-item lines="none" href="/login" class="item-arrow-back">
      <ion-icon slot="start" name="arrow-back" color="light"></ion-icon>
  </ion-item>

  <img class="logo" src="assets/yannbf/img/logo/logo-instagram.png" />
  <div class="ion-padding">
    <ion-item>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button expand="block" fill="outline" (click)="login()" color="light" class="login-button">Login</ion-button>
  </div>
  <div class="strike">
    <span>OR</span>
  </div>
  <ion-button expand="block" fill="clear" (click)="login()" color="light" class="login-button">
    <ion-icon name="logo-facebook"></ion-icon> Login with Facebook
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <div (click)="goToSignup()">
      <span>Don't have an account? <strong>Sign up here</strong>.</span>
    </div>
  </ion-toolbar>
</ion-footer>