<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fivethree
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><a href="https://fivethree.io/">https://fivethree.io/</a></ion-card-subtitle>
      <ion-card-title> Fivethree </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="ion-text-wrap">
        Component library for ionic 5, inspired by Material Design
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item [routerLink]="['/app-bar']" detail>
      <ion-label>
        App Bar
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/bottom-sheet']" detail>
      <ion-label>
        Bottom Sheet
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/dialog']" detail>
      <ion-label>
        Dialog
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/editable-label']" detail>
      <ion-label>
        Editable Label
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/expandable']" detail>
      <ion-label>
        Expandable
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/fab']" detail>
      <ion-label>
        Fab
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/feature-discovery']" detail>
      <ion-label>
        Feature Discovery
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/gallery']" detail>
      <ion-label>
        Gallery
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/icon']" detail>
      <ion-label>
        Icon
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/loading']" detail>
      <ion-label>
        Loading
      </ion-label>
    </ion-item>
    <!-- <ion-item [routerLink]="['/password']" detail>
      <ion-label>
        Password
      </ion-label>
    </ion-item> -->
    <ion-item [routerLink]="['/refresh']" detail>
      <ion-label>
        Refresh
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/searchbar']" detail>
      <ion-label>
        Searchbar
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/stepper']" detail>
      <ion-label>
        Stepper
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/viewport']" detail>
      <ion-label>
        Viewport
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>