<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <timeline [endIcon]="'call'">
    <timeline-item *ngFor="let item of items">
      <timeline-time [time]="item.time"></timeline-time>
      <ion-icon [name]="item.icon"></ion-icon>
      <ion-card>
        <ion-card-header>
          {{item.title}}
        </ion-card-header>
        <ion-card-content>
          {{item.content}}
        </ion-card-content>
      </ion-card>
    </timeline-item>

  </timeline>

</ion-content>