.item-arrow-back{
  --background: transparent !important;
}

ion-content {
  --background: none;
  background-image: url("/assets/yannbf/img/background/background-5.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    width: 50%;
    height: auto;
    max-width: 12em;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
  ion-row {
    align-items: center;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    ion-col.col {
      margin: 0 auto;
      max-width: 40%;
    }
  }
  span {
    color: white;
  }

  ion-item {
    padding-left: 10px !important;
    margin-bottom: 0px;
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
    --background: transparent !important;
  }
  ion-list {
    background-color: transparent !important;
    margin: 0;
  }
  .login-button {
    width: 100%;
    font-size: 0.9em;
    --background: #39acdc;
  }
}
