<ion-content >
  <ion-item lines="none" href="/login" class="item-arrow-back">
    <ion-icon slot="start" name="arrow-back" color="dark"></ion-icon>
  </ion-item>


  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <img class="logo" src="assets/yannbf/img/logo/logo-mailchimp.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset class="no-border">
          <ion-item>
            <ion-label position="fixed">Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="login-button" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div (click)="goToSignup()">
          <span>Or create a new account.</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>